{# Inclusion de Bootstrap (vous l'avez déjà fait) #}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<Doctype html>
<html lang="fr">

{% set activ = craft.entries()
.section('activite')
.id(number)
.one() %}

{% set latestaction = activ.action[0] %}

{% set d = activ.d %}
{% set t = activ.t %}

{% set date_incomplete = activ.d %}
{% set heure_souhaitee = t ~":00:00" %}

{# Option A: Concaténation de chaînes #}
{% set date_avec_heure_chaine = date_incomplete ~ " " ~ heure_souhaitee %}
{% set datetimeu = date(date_avec_heure_chaine) %}




{% set joursSemaine = {
    1: 'Lundi',
    2: 'Mardi',
    3: 'Mercredi',
    4: 'Jeudi',
    5: 'Vendredi',
    6: 'Samedi',
    7: 'Dimanche'
} %}


<div class="container mt-4 mb-5"> {# Conteneur principal avec marges verticales #}
    <p>Activité :</p>

    {{activ.title}}
    {{activ.zone}}
    {{datetimeu|date("l d F")}}
    a {{datetimeu|date("H:i")}}h

    <div class="">
        {% include "d.twig" with {
            obj: activ,
            user: user
        } %}
    </div>
</div>


{# {{ dump(activ.action[0]) }} Pour déboguer, à retirer en production #}
{% include "o.twig" with {
    latestaction: latestaction,
} %}